@model IEnumerable<Product>// Now we go to our Index.cshtml file and make each ProductID on our Index page a link that will take us to an individual product in our Index.cshtml View for Product, we’ll add some html to do this.

<h2>Products</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category ID</th>
        <th>On Sale</th>
        <th>Stock Level</th>
    </tr>

    @foreach (var product in Model)
    {
        <tr>
            <td><a href=/Product/ViewProduct/@product.ProductID>@product.ProductID</a></td>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.CategoryID</td>
            <td>@product.OnSale</td>
            <td>@product.StockLevel</td>
        </tr>
    }

</table>
