
@model Product  //a way to View one product at a time. Since we are passing in product as an argument in the View() method,that will be the Model we work with inside of the ViewProduct.cshtml View we are about to create

<h3>@Model.Name Information</h3>  

<table class="table">
    <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category ID</th>
        <th>On Sale</th>
        <th>StockLevel</th>
    </tr>
    <tr>
        <td>@Model.ProductID</td>
        <td>@Model.Name</td>
        <td>@Model.Price</td>
        <td>@Model.CategoryID</td>
        <td>@Model.OnSale</td>
        <td>@Model.StockLevel</td>
    </tr>
</table>

<div style="display: block">
    <a href="/Product/UpdateProduct/@Model.ProductID">Update this Product</a>
</div>

@*// Add the below HTML to the bottom of the ViewProduct.cshtml file to allow the user to delete a product:
// Note: Our code will also create an alert that asks the user “Are you sure?”*@
<div style="display: block">

    @using (Html.BeginForm("DeleteProduct", "Product", "Post"))
    {
        <input type="hidden" asp-for="ProductID" value="@Model.ProductID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this product" />
    }
</div>

@*Notice in the above code that our HTML triggers the DeleteProduct Controller method located in the Product Controller. 
The onclick with create an alert on the website that asks the user if they are sure they want to delete the product*@

